.Education {
    border: 2px solid black;
    background-color: cornflowerblue;
}

.Experience {
    border: 2px solid black;
    background-color: cornflowerblue;
}

.Skills {
    border: 2px solid black;
    background-color: cornflowerblue;
}

.Hobbies {
    border: 2px solid black;
    background-color: cornflowerblue;
}
